/* seção 1 */

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    padding-bottom: 50px;
}

#titulo {
    color: white;
    top: 20px;
    left: 650px;
    position: relative;
}

/* seção 2 */

#minha_foto {
    position: relative;
    top: 170px;
    left: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: green;
    padding: 7px;
}

#contato {
    top: 180px;
    left: 105px;
    font-size: 18px;
    position: relative;
}

#licoes_aprendidas {
    font-family: monospace;
    font-size: 15px;
    position: relative;
    right: 100px;
    top: 20px;
}

#aprender {
position: relative;
right: 100px;
top: 20px;
}

#licoes_a_aprender {

}