/* seção 1 */
* {
margin: 0;
padding: 0;
}
body {
    background-color: rgb(253, 251, 251);
    font-family: sans-serif;
}

#cabecalho {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    padding: 30px;
    border: 0px;
    margin: 0px;
}

#titulo {
    color: white;
    text-align: center;

}

/* seção 2 */

#minha_foto {
    position: absolute;
    top: 170px;
    left: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: green;
    padding: 7px;
    border: 1px;
    margin: 1px;
}


#licoes_aprendidas {
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    left: 80px;
    top: 700px;
    width: auto;
}

#aprendido {
    position: absolute;
    left: 80px;
    top: 650px;
    display: inline;
}

#licoes_a_aprender {
    position: absolute;
    left: 800px;
    top: 700px;
    font-family: monospace;
    font-size: 18px;
    width: auto;

}

#aprender {
    position: relative;
    right: -820px;
    top: 655px;
    display: inline;
}



.lado-esquerdo {
    position: absolute;
    font-family: monospace;
    top: 250px;
    left: 1400px;
    width: 200px;
    font-size: 20px;
    background-color: rgb(15, 199, 15);
    border-radius: 10%;
    padding: 13px;
    border-width: 30px;
    line-height: 30px;
}

.lado-direito {
position: absolute;
font-family : monospace;
top: 228px;
left: 1650px;
width: 200px;
font-size: 20px;
background-color:  rgb(15, 199, 15);
border-radius: 10%;
padding: 13px;
border-width: 30px;
line-height: 30px;
}



/* Seção 3 */


#rodape {
    z-index: 1;
    background-color: green;
    position: absolute;
    height: 100px;
    padding: 10px;
    width: 1950px;
    top: 980px;
    margin-top: 30px;
    min-width: 100%;
}